<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="hotshot.elick.com.hotshot">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".UI.act.HomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|navigation|screenLayout"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UI.act.login.LoginActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".UI.act.player.PlayerActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".UI.act.player.DouyinPlayerActivity"
            android:configChanges="keyboardHidden|navigation|screenLayout"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UI.act.register.RegisterActivity"
            android:launchMode="singleTask" />
        <activity android:name=".UI.act.alterInfo.AlterUserInfoAct" />
        <activity android:name=".UI.act.history.HistoryActivity" />
        <activity android:name=".UI.act.favorite.FavActivity" />
        <activity android:name=".UI.act.dowload.DownloadActivity"></activity>
    </application>

</manifest>